body {
  background: linear-gradient(#018531, #d6fb04);
}
.carta {
  font-size: 100px;
  width: 350px;
  height: 450px;
  margin-top: 10px;
  margin-left: 38%;
  border-radius: 5%;
}
.topCard {
  display: flex;
  justify-content: flex-start;
}
.bottomCard {
  display: flex;
  justify-content: flex-end;
}

#boton:hover {
  transform: scale(2);
  background: linear-gradient(rgb(1, 3, 142), rgb(0, 149, 255));
}
@keyframes changeColor {
  0% {
    color: red;
  }
  25% {
    color: rgb(252, 4, 4);
  }
  50% {
    color: rgb(237, 91, 0);
  }
  75% {
    color: rgb(101, 182, 185);
  }
  100% {
    color: rgb(255, 0, 191);
  }
}

h1 {
  animation: changeColor 3s infinite;
}
